<section class="home">
    <div class="home-content">
        <h3>hola este soy yo</h3>
        <h1>Gabriel remon</h1>
        <h3>Soy <span> programador</span></h3>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum, quod! Ullam sit neque accusantium fuga minima nulla consequuntur atque accusamus, quo voluptatum. Sequi sed beatae dolore eos placeat alias natus?
        </p>
        <div class="social-media">
            <a href="https://github.com/gabriel-remon"><i class='bx bxl-github' style="--i:7;"></i></a>
            <a href="https://ar.linkedin.com/in/gabriel-remon?trk=public_profile_browsemap"><i class='bx bxl-linkedin-square'style="--i:8;" ></i></a>
        </div>
        <a href="" class="btn">Ver curriclum</a>
    </div>

    <div class="home-img">
        <img src="./assets/personal.png" alt="">
    </div>
</section>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>